
/hof/trust_path/test.php
/hof/trust_path/bootstrap.options.php

/hof/trust_path/user

/hof/trust_path/config/setting.php
/hof/trust_path/cache

/hof/trust_path/dat/union
/hof/trust_path/dat/user

~*
hof/server_output.log
hof/server_index.html
hof/server_file2.html
hof/server_error.log
hof/server_snapshot.txt
hof/trust_path/test/coverage-report/
hof/trust_path/test/coverage-report/log/
docs/snapshots/
/*.txt
nul

initialize.lock
**/dat/**/*.yml
**/dat/**/*.dat
