<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="phpunit/Bootstrap.php"
         colors="true"
         verbose="true"
         debug="true"
         processIsolation="false"
         stopOnFailure="false"
         stopOnError="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         failOnWarning="true"
         failOnRisky="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsMetadata="true"
         beStrictAboutResourceUsageDuringSmallTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         beStrictAboutCoversMetadata="true"
         enforceTimeLimit="true"
         timeoutForSmallTests="1"
         timeoutForMediumTests="10"
         timeoutForLargeTests="60">
    <testsuites>
        <testsuite name="HOF Pattern Test Suite">
            <directory>phpunit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <!-- 指定原始碼目錄 -->
            <directory suffix=".php">./</directory>
            <!-- 排除測試資料夾和隱藏目錄，避免測試程式被當作受測代碼 -->
            <exclude>
                <directory suffix=".php">./test</directory>
                <!-- 如果 bin 目錄也有 php 檔案也可以排除 -->
                <directory suffix=".php">./bin</directory>
                <directory>**/.codenomad</directory>
                <directory>**/^.*</directory>
                <file>**/^.*</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <!-- 詳細的測試日誌 -->
        <log type="coverage-html" target="coverage-report"/>
        <log type="coverage-clover" target="coverage-report/clover.xml"/>
        <log type="coverage-text" target="coverage-report/coverage.txt"/>
        <log type="junit" target="coverage-report/junit.xml"/>
        <log type="teamcity" target="coverage-report/teamcity.txt"/>
    </logging>
</phpunit>
